---
    const {content} = Astro.props;
    const factsheet_list = await Astro.glob('/src/pages/en/factsheets/*.json');
    var factsheet_result = factsheet_list.filter((item) => item.fact  === content.fact);
    var factsheet = [];
    if (factsheet_result.length > 0) {
        factsheet = factsheet_result[0];
    }
    console.log(factsheet)
---

<div class="card" id="card">
    <!-- extract image path from json, create <img> element-->
    <!-- filter image here? -->
    {Object.entries(factsheet).filter(r => r && r[0].startsWith("imagetop")).map(f => (
        <div>
            <p class="fact_key">{f[0].substring(f[0].indexOf('_') + 1).replace(/_/g, " ")}</p>
            {Object.values(f[1]).map(v => (
                <img src = {v.toString()}>
            ))}
        </div>
    ))}

    {Object.entries(factsheet).filter(r => r && r[0] !== "default" && r[0] !== "fact" && !r[0].startsWith("image")).map(f => (
        <div>
            <p class="fact_key">{f[0]}</p>
            {Object.values(f[1]).map(v => (
                <p class="fact_value">{v}</p>
            ))}
        </div>
    ))}

    {Object.entries(factsheet).filter(r => r && r[0].startsWith("imagebot")).map(f => (
        <div>
            <p class="fact_key">{f[0].substring(f[0].indexOf('_') + 1).replace(/_/g, " ")}</p>
            {Object.values(f[1]).map(v => (
                <img src = {v.toString()}>
            ))}
        </div>
    ))}
</div>


<script define:vars={{factsheet}}>
    if (!Object.keys(factsheet).length) {
        document.getElementById('card').style.display = 'none';
    } 
</script>

<style>
    p {
        padding: 0.1rem 0 0.1rem 1rem;
    }
    p:last-child {
        padding: 0.1rem 0 .25rem 1rem;
    }

    .card {
        padding-bottom: .75rem;
        background-color: var(--theme-code-inline-bg);
        border-radius: 5px;
    }
    .fact_key {
        padding: .7rem 0 0.1rem 1rem;
        color: var(--theme-text);
        font-weight: 600;
    }
    .fact_value {
          line-height: 1.25;
        /* color: var(--theme-text); */
    }
</style>